$banner-bg-md-height:469px;
$banner-bg-sm-height:277px;
$adv-img-md-height:460px;
$adv-img-sm-height:250px;
$shop-bg-md-height:110px;
$shop-bg-sm-height:106px;
$shop-bg-sm-width:157px;
$list-bg-md-height:80px;
$list-bg-md-width:120px;
$pay-bg-sm-height:518px;
$text-mode:vertical-rl;
$bg-cover:cover;
$bg-ps-center:center center;