$banner-md-height:496px;
$banner-sm-height:277px;
$bg-cover:cover;
$bg-position:center center;
.banner-height{
    background: url(https://images.unsplash.com/photo-1473256599800-b48c7c88cd7e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae0d68ab0db4ee79bdce92722b31112b&auto=format&fit=crop&w=925&q=80);
    height: $banner-md-height;
}
.bg-cover{
    background-size: $bg-cover;
    background-position: $bg-position;
}
@media (max-width:767px){
    .banner-height{
        height: $banner-sm-height;
    }
}