$card-bg:315px;

.card-bg{
    height: $card-bg;
    .card-text{
        writing-mode: vertical-lr;
        .letter{
            letter-spacing: 5px;
        }
    }
    .point{
        cursor: pointer;
        .check,.hover{
            display: none;
        }
        .check:checked{
            & ~ .hover{
                display: block;
            }
            & ~ .hidden{
                display: none;
            }
        }
    }
}

.card-font{
    font-size: 20px;
}

.btn-font{
    font-size: 24px;
}

