$cart-img-md:110px;
$cart-img-sm-height:106px;
$cart-img-sm-width:157px;
.cart-wrap{
    border-bottom:1px solid $secondary;
    .cart-bg-img{
        width: $cart-img-md;
        height: $cart-img-md;
    }
    .cart-input{
        width: 144px;
        .input-height{
            height: 48px;
        }
    }
    @media (max-width:767px){
        .cart-bg-img{
            width: $cart-img-sm-width;
            height: $cart-img-sm-height;
        }
    }

}
.totle{
    font-size: 20px;
    line-height: 20px;
}
.btn-size{
    font-size: 24px;
}
.card{
    .card-header{
        color: $white;
    }
    .color{
        color: $secondary;
    }
    .color-white{
        color: $white;
    }
}
@media (max-width:767px){
    .cart-wrap{
        border:none;
        .cart{
            border-bottom: 1px solid $secondary;
            padding-bottom: 8px;
        }
        .price{
            border-bottom: 1px solid $secondary;
        }
    }
    .card{
        background: $white;
        .card-header{
            background: $secondary;
            color: $primary;
        }
        .color{
            color: $info;
        }
        .color-white{
            color: $primary;
        }
    }
}
