$bg-height:80px;

.checkout-bg{
    height: $bg-height;
}
.font-20{
    font-size: 20px;
}
.font-24{
    font-size: 24px;
}
.ps-r{
    top: 20px;
    right: 22px;
}
.btn-hover{
    &:hover{
        color: $primary;
    }
}