.login-font{
    font-size: 24px;
    line-height: 36px;
}
.login-text{
    font-size: 36px;
    line-height: 36px;
}

.login-email{
    top: 20px;
    left: 20px;
    z-index: 999;
}
.mail-input{
    padding-left: 64px;
    background: transparent;
}
.login-btn-font{
    font-size: 24px;
    line-height: 20px;
}