$nav-item-md-height:256px;
$nav-item-sm-height:180px;
.nav-items{
    height: $nav-item-md-height;
    writing-mode: vertical-lr;
    color: #fff;
    &:hover{
        color: $primary;
    }
    .nav-items-font{
        font-size: 24px;
        line-height: 30px;
        z-index: 4;
        letter-spacing: 10px;
    }
    .ps-0{
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    
    .items-bg{
        background: rgba(63, 93, 69,.8);
        z-index: 2;
        &:hover{
            background: rgba(255, 225, 128,.8);
            transition: all .3s;
        }
    }
    .filter{
        filter: blur(5px);
    }
}
@media (max-width:767px){
    .nav-items{
        height: $nav-item-sm-height;
        .nav-items-font{
            font-size: 20px;
            line-height: 24px;
        }
    }
}