.step{
    position: relative;
    display: flex;
    justify-content: space-between;
    &::after{
        content: "";
        height: 1px;
        background-color: $secondary;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
    }
    .circle{
        border: 1px solid $secondary;
        border-radius: 20px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        z-index: 1;
        background: $primary;
    }
    .active{
        background: $secondary;
        color: $primary;
        font-size: 16px;
    }

}
.step-2{
    position: relative;
    display: flex;
    justify-content: space-between;
    &::after{
        content: "";
        height: 1px;
        background-color: $primary;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
    }
    .circle-2{
        border: 1px solid $primary;
        border-radius: 20px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        z-index: 1;
        background: $primary;
    }
    .active-2{
        background: $primary;
        color: $light;
        font-size: 16px;
    }
}